@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

/*************************GLOBAL CSS VARIABLES*************************/

:root {
  --main-blue: #0065fc;
  --clear-blue: #deebff;
  --grey-medium: #cfcfcf;
  --grey: #f2f2f2;
  --black: #000;
  --white: #fff;
}

/*************************BOX SIZING*************************/

div,
section,
article,
a,
p {
  box-sizing: border-box;
}
/*************************GLOBAL STYLE*************************/

body {
  background-color: var(--white);
}
