@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,500&family=Shrikhand&display=swap");
/*************************CUSTOM RESET ONLY FOR THIS PROJECT*************************/
ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

a {
  text-decoration: none;
  color: var(--black);
}

p {
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

a:focus,
input:focus {
  outline: none;
}

/*************************BOX SIZING*************************/
div,
section,
article,
a,
p {
  box-sizing: border-box;
}

/*************************GLOBAL STYLES*************************/
body {
  font-family: "Roboto", sans-serif;
}

/*************************TOP PAGE*************************/
.rounded-top {
  border-radius: 50px 50px 0 0;
  margin-top: -50px;
  position: relative;
}

.center-block {
  width: 100%;
  max-width: 360px;
  position: relative;
  margin: 0 auto;
}

.menu {
  margin-bottom: 40px;
}

/*************************GLOBAL BLOCKS STYLES*************************/
.section--white {
  background-color: #FFF;
  padding: 40px 20px;
}

.section--lightgrey {
  background-color: #f4f4f4;
  padding: 40px 20px;
}

.section--grey {
  background-color: #e4e4e4;
  padding: 20px;
}

.section--graphit {
  background-color: #2d2d2d;
  padding: 20px;
}

/*************************GLOBAL SHADOWS STYLES*************************/
.shadow--small {
  -webkit-box-shadow: 0 5px 5px 0 #D4D4D4;
  box-shadow: 0 5px 5px 0 #D4D4D4;
}

.shadow--medium {
  -webkit-box-shadow: 0 7px 10px 1px #D4D4D4;
  box-shadow: 0 7px 10px 1px #D4D4D4;
}

.shadow--biggest {
  -webkit-box-shadow: 0 10px 15px 3px #D4D4D4;
  box-shadow: 0 10px 15px 3px #D4D4D4;
}

/*************************ANIMATION TRANSITIONS ON LIST OF ELEMENTS STYLES*************************/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
.capsule--basic:nth-child(0) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.capsule:nth-child(0) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.capsule--basic:nth-child(1) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.capsule:nth-child(1) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.capsule--basic:nth-child(2) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.8s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

.capsule:nth-child(2) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.8s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

.capsule--basic:nth-child(3) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1.3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;
}

.capsule:nth-child(3) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1.3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;
}

.capsule--basic:nth-child(4) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 2.1s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
}

.capsule:nth-child(4) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 2.1s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
}

/*************************ANIMATION LOADER*************************/
.loader__circle1 {
  position: absolute;
  border-left: 0px;
  border-top: 0px;
  border-radius: 50%;
  width: 230px;
  height: 230px;
  border-right: 2px solid #9356DC;
  border-bottom: 2px solid #9356DC;
  animation-name: rotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loader__circle2 {
  position: absolute;
  border-left: 0px;
  border-top: 0px;
  border-radius: 50%;
  width: 210px;
  height: 210px;
  border-right: 2px solid #FF79DA;
  border-bottom: 2px solid #FF79DA;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loader__circle3 {
  position: absolute;
  border-left: 0px;
  border-top: 0px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border-right: 2px solid #99E2D0;
  border-bottom: 2px solid #99E2D0;
  animation-name: rotate;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader__letter1 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.6s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

.loader__letter2 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.9s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
}

.loader__letter3 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1.2s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}

.loader__letter4 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1.5s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.loader__letter5 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1.8s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
}

.loader__letter6 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 2.1s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
}

.loader__letter7 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 2.4s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 2.4s;
  animation-fill-mode: forwards;
}

.loader__letter8 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 2.7s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 2.7s;
  animation-fill-mode: forwards;
}

.loader__dot1 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
}

.loader__dot2 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0.6s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 0.6s;
}

.loader__dot3 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0.9s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 0.9s;
}

.loader__dot4 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 1.2s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 1.2s;
}

.loader__dot5 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
}

.loader__dot6 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 1.8s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 1.8s;
}

.loader__dot7 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 2.1s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 2.1s;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
  }
  20% {
    opacity: 1;
    display: block;
  }
  40% {
    opacity: 1;
    display: block;
  }
  60% {
    opacity: 0.8;
    display: block;
  }
  80% {
    opacity: 0.4;
    display: block;
  }
  99% {
    opacity: 0;
    display: block;
    width: 100%;
    top: 0;
    bottom: 0;
  }
  100% {
    opacity: 0;
    display: none;
    width: 0;
    overflow: hidden;
    top: 0;
    bottom: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
  }
  20% {
    opacity: 1;
    display: block;
  }
  40% {
    opacity: 1;
    display: block;
  }
  60% {
    opacity: 0.8;
    display: block;
  }
  80% {
    opacity: 0.4;
    display: block;
  }
  99% {
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
  }
  100% {
    opacity: 0;
    display: none;
    height: 0;
    width: 0;
    top: 0;
    overflow: hidden;
    bottom: 0;
  }
}
/*************************LOADERS*************************/
.loader {
  position: absolute;
  background-color: rgba(244, 244, 244, 0.9);
  width: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation-name: fadeOut;
  -webkit-animation-duration: 7s;
  -webkit-animation-delay: 0s;
  animation-name: fadeOut;
  animation-duration: 7s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}
.loader svg {
  overflow: visible;
}
.loader__animation {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*************************TITLES*************************/
h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 24px;
}

.subtitle {
  font-weight: 200;
  font-size: 16px;
  margin: 5px 0 20px 0;
}

.secondary-title {
  margin-bottom: 20px;
}

.location__title,
.intro {
  text-align: center;
}

.title__block {
  position: relative;
}

.decorative-title {
  font-family: Shrikhand;
}

.menu-title-block {
  position: relative;
  margin-top: 40px;
}
.menu-title-block .decorative__menu-title {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 16px;
  margin-bottom: 5px;
}
.menu-title-block .line {
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
}

/*************************GLOBAL BLOCKS STYLES*************************/
.section--white {
  background-color: #FFF;
  padding: 40px 20px;
}

.section--lightgrey {
  background-color: #f4f4f4;
  padding: 40px 20px;
}

.section--grey {
  background-color: #e4e4e4;
  padding: 20px;
}

.section--graphit {
  background-color: #2d2d2d;
  padding: 20px;
}

/*************************GLOBAL SHADOWS STYLES*************************/
.shadow--small {
  -webkit-box-shadow: 0 5px 5px 0 #D4D4D4;
  box-shadow: 0 5px 5px 0 #D4D4D4;
}

.shadow--medium {
  -webkit-box-shadow: 0 7px 10px 1px #D4D4D4;
  box-shadow: 0 7px 10px 1px #D4D4D4;
}

.shadow--biggest {
  -webkit-box-shadow: 0 10px 15px 3px #D4D4D4;
  box-shadow: 0 10px 15px 3px #D4D4D4;
}

/*************************ANIMATION TRANSITIONS ON LIST OF ELEMENTS STYLES*************************/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
.capsule--basic:nth-child(0) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.capsule:nth-child(0) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.capsule--basic:nth-child(1) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.capsule:nth-child(1) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.capsule--basic:nth-child(2) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.8s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

.capsule:nth-child(2) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.8s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

.capsule--basic:nth-child(3) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1.3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;
}

.capsule:nth-child(3) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1.3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;
}

.capsule--basic:nth-child(4) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 2.1s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
}

.capsule:nth-child(4) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 2.1s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
}

/*************************ANIMATION LOADER*************************/
.loader__circle1 {
  position: absolute;
  border-left: 0px;
  border-top: 0px;
  border-radius: 50%;
  width: 230px;
  height: 230px;
  border-right: 2px solid #9356DC;
  border-bottom: 2px solid #9356DC;
  animation-name: rotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loader__circle2 {
  position: absolute;
  border-left: 0px;
  border-top: 0px;
  border-radius: 50%;
  width: 210px;
  height: 210px;
  border-right: 2px solid #FF79DA;
  border-bottom: 2px solid #FF79DA;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loader__circle3 {
  position: absolute;
  border-left: 0px;
  border-top: 0px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border-right: 2px solid #99E2D0;
  border-bottom: 2px solid #99E2D0;
  animation-name: rotate;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader__letter1 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.6s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

.loader__letter2 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.9s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
}

.loader__letter3 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1.2s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}

.loader__letter4 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1.5s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.loader__letter5 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1.8s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
}

.loader__letter6 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 2.1s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
}

.loader__letter7 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 2.4s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 2.4s;
  animation-fill-mode: forwards;
}

.loader__letter8 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 2.7s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 2.7s;
  animation-fill-mode: forwards;
}

.loader__dot1 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
}

.loader__dot2 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0.6s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 0.6s;
}

.loader__dot3 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0.9s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 0.9s;
}

.loader__dot4 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 1.2s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 1.2s;
}

.loader__dot5 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
}

.loader__dot6 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 1.8s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 1.8s;
}

.loader__dot7 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 2.1s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 2.1s;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
  }
  20% {
    opacity: 1;
    display: block;
  }
  40% {
    opacity: 1;
    display: block;
  }
  60% {
    opacity: 0.8;
    display: block;
  }
  80% {
    opacity: 0.4;
    display: block;
  }
  99% {
    opacity: 0;
    display: block;
    width: 100%;
    top: 0;
    bottom: 0;
  }
  100% {
    opacity: 0;
    display: none;
    width: 0;
    overflow: hidden;
    top: 0;
    bottom: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
  }
  20% {
    opacity: 1;
    display: block;
  }
  40% {
    opacity: 1;
    display: block;
  }
  60% {
    opacity: 0.8;
    display: block;
  }
  80% {
    opacity: 0.4;
    display: block;
  }
  99% {
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
  }
  100% {
    opacity: 0;
    display: none;
    height: 0;
    width: 0;
    top: 0;
    overflow: hidden;
    bottom: 0;
  }
}
/*************************BUTTONS STYLE*************************/
.button--primary {
  border: 0px solid transparent;
  padding: 15px 20px;
  border-radius: 50px;
  color: #FFF;
  transition: all 0.6s ease-in-out;
  display: block;
  margin: 15px auto;
  background: #FF79DA;
  background: -moz-linear-gradient(top, #FF79DA 0%, #9356DC 100%);
  background: -webkit-linear-gradient(top, #FF79DA 0%, #9356DC 100%);
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
}
.button--primary:hover {
  transition: all 0.6s ease-in-out;
  background: #fface8;
  background: -moz-linear-gradient(top, #fface8 0%, #ae80e5 100%);
  background: -webkit-linear-gradient(top, #fface8 0%, #ae80e5 100%);
  background: linear-gradient(to bottom, #fface8 0%, #ae80e5 100%);
  -webkit-box-shadow: 0 7px 10px 1px #bbbbbb;
  box-shadow: 0 7px 10px 1px #bbbbbb;
}

/*************************GLOBAL BLOCKS STYLES*************************/
.section--white {
  background-color: #FFF;
  padding: 40px 20px;
}

.section--lightgrey {
  background-color: #f4f4f4;
  padding: 40px 20px;
}

.section--grey {
  background-color: #e4e4e4;
  padding: 20px;
}

.section--graphit {
  background-color: #2d2d2d;
  padding: 20px;
}

/*************************GLOBAL SHADOWS STYLES*************************/
.shadow--small {
  -webkit-box-shadow: 0 5px 5px 0 #D4D4D4;
  box-shadow: 0 5px 5px 0 #D4D4D4;
}

.shadow--medium {
  -webkit-box-shadow: 0 7px 10px 1px #D4D4D4;
  box-shadow: 0 7px 10px 1px #D4D4D4;
}

.shadow--biggest {
  -webkit-box-shadow: 0 10px 15px 3px #D4D4D4;
  box-shadow: 0 10px 15px 3px #D4D4D4;
}

/*************************ANIMATION TRANSITIONS ON LIST OF ELEMENTS STYLES*************************/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
.capsule--basic:nth-child(0) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.capsule:nth-child(0) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.capsule--basic:nth-child(1) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.capsule:nth-child(1) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.capsule--basic:nth-child(2) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.8s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

.capsule:nth-child(2) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.8s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

.capsule--basic:nth-child(3) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1.3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;
}

.capsule:nth-child(3) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1.3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;
}

.capsule--basic:nth-child(4) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 2.1s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
}

.capsule:nth-child(4) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 2.1s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
}

/*************************ANIMATION LOADER*************************/
.loader__circle1 {
  position: absolute;
  border-left: 0px;
  border-top: 0px;
  border-radius: 50%;
  width: 230px;
  height: 230px;
  border-right: 2px solid #9356DC;
  border-bottom: 2px solid #9356DC;
  animation-name: rotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loader__circle2 {
  position: absolute;
  border-left: 0px;
  border-top: 0px;
  border-radius: 50%;
  width: 210px;
  height: 210px;
  border-right: 2px solid #FF79DA;
  border-bottom: 2px solid #FF79DA;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loader__circle3 {
  position: absolute;
  border-left: 0px;
  border-top: 0px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border-right: 2px solid #99E2D0;
  border-bottom: 2px solid #99E2D0;
  animation-name: rotate;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader__letter1 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.6s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

.loader__letter2 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.9s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
}

.loader__letter3 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1.2s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}

.loader__letter4 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1.5s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.loader__letter5 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1.8s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
}

.loader__letter6 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 2.1s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
}

.loader__letter7 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 2.4s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 2.4s;
  animation-fill-mode: forwards;
}

.loader__letter8 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 2.7s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 2.7s;
  animation-fill-mode: forwards;
}

.loader__dot1 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
}

.loader__dot2 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0.6s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 0.6s;
}

.loader__dot3 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0.9s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 0.9s;
}

.loader__dot4 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 1.2s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 1.2s;
}

.loader__dot5 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
}

.loader__dot6 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 1.8s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 1.8s;
}

.loader__dot7 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 2.1s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 2.1s;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
  }
  20% {
    opacity: 1;
    display: block;
  }
  40% {
    opacity: 1;
    display: block;
  }
  60% {
    opacity: 0.8;
    display: block;
  }
  80% {
    opacity: 0.4;
    display: block;
  }
  99% {
    opacity: 0;
    display: block;
    width: 100%;
    top: 0;
    bottom: 0;
  }
  100% {
    opacity: 0;
    display: none;
    width: 0;
    overflow: hidden;
    top: 0;
    bottom: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
  }
  20% {
    opacity: 1;
    display: block;
  }
  40% {
    opacity: 1;
    display: block;
  }
  60% {
    opacity: 0.8;
    display: block;
  }
  80% {
    opacity: 0.4;
    display: block;
  }
  99% {
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
  }
  100% {
    opacity: 0;
    display: none;
    height: 0;
    width: 0;
    top: 0;
    overflow: hidden;
    bottom: 0;
  }
}
/*************************ROUNDED BOXES STYLE*************************/
.rounded-box {
  border-radius: 15px;
  background-color: #FFF;
  overflow: hidden;
  width: 100%;
  display: block;
  margin: 15px auto;
  position: relative;
}
.rounded-box__new {
  font-size: 13px;
  border-radius: 3px;
  background-color: #99E2D0;
  color: #278870;
  padding: 6px 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
}
.rounded-box__image {
  overflow: hidden;
  height: 150px;
  width: 100%;
  position: relative;
}
.rounded-box__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.rounded-box__desc {
  position: relative;
  padding: 10px;
}
.rounded-box__title, .rounded-box__text {
  font-size: 16px;
}
.rounded-box__text {
  font-weight: 100;
}
.rounded-box__heart {
  position: absolute;
  right: 20px;
  top: calc(50% - 10px);
}
.rounded-box__heart .heart--linear {
  width: 30px;
  height: 30px;
  opacity: 1;
  transition: all 0.6s ease-in-out;
}
.rounded-box__heart .heart--full {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.6s ease-in-out;
}
.rounded-box__heart .heart--full path {
  fill: url(#gradient);
}
.rounded-box__heart:hover .heart--linear {
  opacity: 0;
  transition: all 0.6s ease-in-out;
}
.rounded-box__heart:hover .heart--full {
  opacity: 1;
  transition: all 0.6s ease-in-out;
}

/*************************GLOBAL BLOCKS STYLES*************************/
.section--white {
  background-color: #FFF;
  padding: 40px 20px;
}

.section--lightgrey {
  background-color: #f4f4f4;
  padding: 40px 20px;
}

.section--grey {
  background-color: #e4e4e4;
  padding: 20px;
}

.section--graphit {
  background-color: #2d2d2d;
  padding: 20px;
}

/*************************GLOBAL SHADOWS STYLES*************************/
.shadow--small {
  -webkit-box-shadow: 0 5px 5px 0 #D4D4D4;
  box-shadow: 0 5px 5px 0 #D4D4D4;
}

.shadow--medium {
  -webkit-box-shadow: 0 7px 10px 1px #D4D4D4;
  box-shadow: 0 7px 10px 1px #D4D4D4;
}

.shadow--biggest {
  -webkit-box-shadow: 0 10px 15px 3px #D4D4D4;
  box-shadow: 0 10px 15px 3px #D4D4D4;
}

/*************************ANIMATION TRANSITIONS ON LIST OF ELEMENTS STYLES*************************/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
.capsule--basic:nth-child(0) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.capsule:nth-child(0) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.capsule--basic:nth-child(1) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.capsule:nth-child(1) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.capsule--basic:nth-child(2) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.8s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

.capsule:nth-child(2) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.8s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

.capsule--basic:nth-child(3) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1.3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;
}

.capsule:nth-child(3) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1.3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;
}

.capsule--basic:nth-child(4) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 2.1s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
}

.capsule:nth-child(4) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 2.1s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
}

/*************************ANIMATION LOADER*************************/
.loader__circle1 {
  position: absolute;
  border-left: 0px;
  border-top: 0px;
  border-radius: 50%;
  width: 230px;
  height: 230px;
  border-right: 2px solid #9356DC;
  border-bottom: 2px solid #9356DC;
  animation-name: rotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loader__circle2 {
  position: absolute;
  border-left: 0px;
  border-top: 0px;
  border-radius: 50%;
  width: 210px;
  height: 210px;
  border-right: 2px solid #FF79DA;
  border-bottom: 2px solid #FF79DA;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loader__circle3 {
  position: absolute;
  border-left: 0px;
  border-top: 0px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border-right: 2px solid #99E2D0;
  border-bottom: 2px solid #99E2D0;
  animation-name: rotate;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader__letter1 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.6s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

.loader__letter2 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.9s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
}

.loader__letter3 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1.2s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}

.loader__letter4 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1.5s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.loader__letter5 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1.8s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
}

.loader__letter6 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 2.1s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
}

.loader__letter7 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 2.4s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 2.4s;
  animation-fill-mode: forwards;
}

.loader__letter8 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 2.7s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 2.7s;
  animation-fill-mode: forwards;
}

.loader__dot1 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
}

.loader__dot2 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0.6s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 0.6s;
}

.loader__dot3 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0.9s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 0.9s;
}

.loader__dot4 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 1.2s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 1.2s;
}

.loader__dot5 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
}

.loader__dot6 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 1.8s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 1.8s;
}

.loader__dot7 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 2.1s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 2.1s;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
  }
  20% {
    opacity: 1;
    display: block;
  }
  40% {
    opacity: 1;
    display: block;
  }
  60% {
    opacity: 0.8;
    display: block;
  }
  80% {
    opacity: 0.4;
    display: block;
  }
  99% {
    opacity: 0;
    display: block;
    width: 100%;
    top: 0;
    bottom: 0;
  }
  100% {
    opacity: 0;
    display: none;
    width: 0;
    overflow: hidden;
    top: 0;
    bottom: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
  }
  20% {
    opacity: 1;
    display: block;
  }
  40% {
    opacity: 1;
    display: block;
  }
  60% {
    opacity: 0.8;
    display: block;
  }
  80% {
    opacity: 0.4;
    display: block;
  }
  99% {
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
  }
  100% {
    opacity: 0;
    display: none;
    height: 0;
    width: 0;
    top: 0;
    overflow: hidden;
    bottom: 0;
  }
}
/*************************ROUNDED BOXES STYLE*************************/
.capsule--basic {
  opacity: 0;
  border-radius: 20px;
  background-color: #FFF;
  margin: 15px 0;
  position: relative;
  overflow: hidden;
}
.capsule--basic p {
  font-weight: 200;
  font-size: 14px;
}
.capsule--basic p.price {
  font-weight: 600;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.capsule--basic.flexbox {
  display: flex;
}
.capsule--basic .block__switch1,
.capsule--basic .block__switch2 {
  position: relative;
  transition: all 0.6s ease-in-out;
}
.capsule--basic .block__switch1 {
  padding: 15px;
  width: 100%;
}
.capsule--basic .block__switch1 h3, .capsule--basic .block__switch1 p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.capsule--basic .block__switch2 {
  width: 70px;
  position: absolute;
  right: -70px;
  top: 0;
  bottom: 0;
  background-color: #99E2D0;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.capsule--basic .block__switch2 .fa-solid {
  font-size: 25px;
  color: #FFF;
}
.capsule--basic:hover .block__switch1 {
  width: calc(100% - 70px);
  transition: all 0.6s ease-in-out;
}
.capsule--basic:hover .block__switch1 p {
  max-width: calc(100% - 30px);
}
.capsule--basic:hover .block__switch2 {
  right: 0px;
  padding: 15px;
  transition: all 0.6s ease-in-out;
}

.capsule {
  border-radius: 20px;
  background-color: #FFF;
  margin: 15px 0;
  position: relative;
  opacity: 0;
  background-color: #f4f4f4;
  padding: 30px;
  margin: 15px 0 15px 20px;
  transition: all 0.3s ease-in-out;
}
.capsule .fa-solid {
  margin-right: 20px;
  color: #939393;
}
.capsule:hover {
  transition: all 0.3s ease-in-out;
  background-color: #f2eafb;
}
.capsule:hover .fa-solid {
  color: #9356DC;
}
.capsule__num {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #9356DC;
  color: #FFF;
  padding: 5px;
  left: -10px;
  text-align: center;
  top: calc(50% - 10px);
  font-size: 14px;
}
.capsule__text {
  font-size: 16px;
}

/*************************GLOBAL BLOCKS STYLES*************************/
.section--white {
  background-color: #FFF;
  padding: 40px 20px;
}

.section--lightgrey {
  background-color: #f4f4f4;
  padding: 40px 20px;
}

.section--grey {
  background-color: #e4e4e4;
  padding: 20px;
}

.section--graphit {
  background-color: #2d2d2d;
  padding: 20px;
}

/*************************GLOBAL SHADOWS STYLES*************************/
.shadow--small {
  -webkit-box-shadow: 0 5px 5px 0 #D4D4D4;
  box-shadow: 0 5px 5px 0 #D4D4D4;
}

.shadow--medium {
  -webkit-box-shadow: 0 7px 10px 1px #D4D4D4;
  box-shadow: 0 7px 10px 1px #D4D4D4;
}

.shadow--biggest {
  -webkit-box-shadow: 0 10px 15px 3px #D4D4D4;
  box-shadow: 0 10px 15px 3px #D4D4D4;
}

/*************************ANIMATION TRANSITIONS ON LIST OF ELEMENTS STYLES*************************/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
.capsule--basic:nth-child(0) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.capsule:nth-child(0) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.capsule--basic:nth-child(1) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.capsule:nth-child(1) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.capsule--basic:nth-child(2) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.8s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

.capsule:nth-child(2) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.8s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

.capsule--basic:nth-child(3) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1.3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;
}

.capsule:nth-child(3) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1.3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;
}

.capsule--basic:nth-child(4) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 2.1s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
}

.capsule:nth-child(4) {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 2.1s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
}

/*************************ANIMATION LOADER*************************/
.loader__circle1 {
  position: absolute;
  border-left: 0px;
  border-top: 0px;
  border-radius: 50%;
  width: 230px;
  height: 230px;
  border-right: 2px solid #9356DC;
  border-bottom: 2px solid #9356DC;
  animation-name: rotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loader__circle2 {
  position: absolute;
  border-left: 0px;
  border-top: 0px;
  border-radius: 50%;
  width: 210px;
  height: 210px;
  border-right: 2px solid #FF79DA;
  border-bottom: 2px solid #FF79DA;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loader__circle3 {
  position: absolute;
  border-left: 0px;
  border-top: 0px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border-right: 2px solid #99E2D0;
  border-bottom: 2px solid #99E2D0;
  animation-name: rotate;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader__letter1 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.6s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

.loader__letter2 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.9s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
}

.loader__letter3 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1.2s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}

.loader__letter4 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1.5s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.loader__letter5 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 1.8s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
}

.loader__letter6 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 2.1s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
}

.loader__letter7 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 2.4s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 2.4s;
  animation-fill-mode: forwards;
}

.loader__letter8 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 2.7s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 2.7s;
  animation-fill-mode: forwards;
}

.loader__dot1 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
}

.loader__dot2 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0.6s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 0.6s;
}

.loader__dot3 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0.9s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 0.9s;
}

.loader__dot4 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 1.2s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 1.2s;
}

.loader__dot5 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
}

.loader__dot6 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 1.8s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 1.8s;
}

.loader__dot7 {
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 2.1s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 2.1s;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
  }
  20% {
    opacity: 1;
    display: block;
  }
  40% {
    opacity: 1;
    display: block;
  }
  60% {
    opacity: 0.8;
    display: block;
  }
  80% {
    opacity: 0.4;
    display: block;
  }
  99% {
    opacity: 0;
    display: block;
    width: 100%;
    top: 0;
    bottom: 0;
  }
  100% {
    opacity: 0;
    display: none;
    width: 0;
    overflow: hidden;
    top: 0;
    bottom: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
  }
  20% {
    opacity: 1;
    display: block;
  }
  40% {
    opacity: 1;
    display: block;
  }
  60% {
    opacity: 0.8;
    display: block;
  }
  80% {
    opacity: 0.4;
    display: block;
  }
  99% {
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
  }
  100% {
    opacity: 0;
    display: none;
    height: 0;
    width: 0;
    top: 0;
    overflow: hidden;
    bottom: 0;
  }
}
/*************************HEADER SPECIFIC STYLE*************************/
.mainheader {
  padding: 20px;
  position: relative;
}
.mainheader svg {
  max-width: 150px;
  display: block;
  margin: 0 auto;
  display: block;
}
.mainheader .back {
  font-size: 26px;
  position: absolute;
  top: calc(50% - 13px);
}
@media all and (min-width: 600px) {
  .mainheader {
    border: 1px solid orange;
  }
}

.subheader {
  min-height: 250px;
}
.subheader .rounded-box__image {
  min-height: 250px;
}

/*************************FOOTER SPECIFIC STYLE*************************/
.footer {
  color: #FFF;
}
.footer__navigation a {
  font-weight: 300;
  font-size: 14px;
}
.footer__navigation a .fa-solid {
  min-width: 20px;
  text-align: left;
}
.footer svg {
  max-width: 100px;
}
.footer path {
  fill: #FFF;
}
@media all and (min-width: 600px) {
  .footer {
    border: 1px solid orange;
  }
}

/*# sourceMappingURL=main.css.map */
