@import "../utils/variables";
@import "../utils/mixins";
/*************************BOX SIZING*************************/

div,
section,
article,
a,
p {
  box-sizing: border-box;
}

/*************************GLOBAL STYLES*************************/

body {
  font-family: "Roboto", sans-serif;
}

/*************************TOP PAGE*************************/
.rounded-top {
  border-radius: 50px 50px 0 0;
  margin-top: -50px;
  position: relative;
}

.center-block {
  width: 100%;
  max-width: 360px;
  position: relative;
  margin: 0 auto;
}

.menu {
  margin-bottom: 40px;
}

@include tablet {
  .center-block {
    h1,
    h2 {
      width: 100%;
    }
    max-width: 900px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    .button-block {
      flex-grow: 1;
      width: 100%;
      .button--primary {
        display: block;
      }
    }
  }
  .intro {
    .center-block {
      flex-direction: column;
    }
  }
}
