@import "../utils//variables";
/*************************BOX SIZING*************************/

div,
section,
article,
a,
p {
  box-sizing: border-box;
}

/*************************GLOBAL STYLES*************************/
body {
  font-family: "Roboto", sans-serif;
}
h1, h2, h3 {
  font-weight: 600;
}

/*************************TOP PAGE*************************/

.location__title, .intro {
  text-align: center;
}
