@import "./maps";
@import "./variables";

@mixin tablet {
  @media all and (min-width: map-get($breakpoints, tablet)) {
    @content;
  }
}
@mixin desktop {
  @media all and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}

@mixin gradient-purple(
  $top-color: $colour-secondary,
  $bottom-color: $colour-primary,
  $light: false  
) {
  $new-top-colour: lighten($top-color, 10%);
  $new-bottom-color: lighten($bottom-color, 10%);
  @if $light == true {
    $top-color: $new-top-colour;
    $bottom-color: $new-bottom-color;
  } @else {
    $top-color: $top-color;
    $bottom-color: $bottom-color;
  }
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff79da+0,9356dc+100 */
  background: $top-color; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    $top-color 0%,
    $bottom-color 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    $top-color 0%,
    $bottom-color 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    $top-color 0%,
    $bottom-color 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
@mixin darken-medium-shadow {
  -webkit-box-shadow: 0 7px 10px 1px darken($colour-shadow, 10%);
  box-shadow: 0 7px 10px 1px darken($colour-shadow, 10%);
}
@mixin center-element {
  display: block;
  margin: 0 auto;
}

@mixin center-element15 {
  display: block;
  margin: 15px auto;
}

@mixin lighten-colour($colour) {
  $colour: lighten($colour, 40%);
  color: $colour;
}
@mixin darken-colour($colour) {
  $colour: darken($colour, 40%);
  color: $colour;
}
@mixin lighten-bg($colour) {
  $colour: lighten($colour, 35%);
  background-color: $colour;
}
@mixin delay-speed {
  transition: all 0.3s ease-in-out;
}
@mixin delay-medium {
  transition: all 0.6s ease-in-out;
}