$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;
$colour-lightgrey: #f4f4f4;
$colour-lightgrey-A90: rgba(244, 244, 244, 0.9);
$colour-grey: #e4e4e4;
$colour-shadow: #d4d4d4;
$colour-white: #fff;
$colour-graphit: #2d2d2d;
