$colour-primary: #9356DC; 
$colour-secondary: #FF79DA; 
$colour-tertiary: #99E2D0; 
$colour-lightgrey: #f4f4f4;
$colour-lightgrey-A90: rgba(244, 244, 244, 0.9);
$colour-grey: #e4e4e4;
$colour-shadow: #D4D4D4;
$colour-white: #FFF;
$colour-graphit: #2d2d2d;