@import "../utils/mixins";
@import "../utils//variables";

/*************************FOOTER SPECIFIC STYLE*************************/

footer {
  color: $colour-white;
  svg {
    max-width: 100px;
  }
  path {
    fill: $colour-white;
  }
  @include tablet {
    border: 1px solid orange;
  }
}
