@import "../utils/variables";

/*************************FOOTER SPECIFIC STYLE*************************/

.footer {
  color: $colour-white;
  &__navigation {
    a {
      font-weight: 300;
      font-size: 14px;
      .fa-solid {
        min-width: 20px;
        text-align: left;
      }
    }
  }

  svg {
    max-width: 100px;
  }
  path {
    fill: $colour-white;
  }
  @include tablet {
    border: 1px solid orange;
  }
}
